button, .btn {
  border: #357ebd solid 1px;
  border-radius: 0.5vh;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  font-size: 1.5vh;
  padding: 1vh 2vh;
  text-decoration: none;
  text-align: center;
  position: relative;
  margin: 0.4vh;
  cursor: pointer;
  z-index: 1;
  
}

button, .btn:hover {
  background:#ccc;
  font-weight: bold;
  z-index: 1;
  
}