 form{
  
  font-size: 3vh;
  width:100%;
  border-spacing: 2.5vh;
} 

form table{
    width:100%;
    table-layout: fixed;
}




th.form-label {
  background-color: #eee; 
}

form td{
  padding-right: 2.5vh;
}

form td input[type=text] {
  font-size:inherit;
  
  width: 100%;
  height: 5vh;
  border-radius: 1vh;
  border: 1px solid #C0C0C0	;
  padding: 0.2vh 1vh;  
}




tr input[type=submit] {
  width: 100%;
  font-size:inherit;
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


