body {font-family: Arial, Helvetica, sans-serif;}




.pop-con {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

.pop-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);  
  
}

.pop-header table {
  background: #5cb85c;
  color: white;
  width: 100%; 
  border-spacing: 0; 
  font-size: 2.5vh;
  border-collapse: collapse;
  table-layout: fixed;
}

.pop-title{
  text-align: left;
  font-size: 3vh;
  width: 70%;
  padding: 0.7vh 0.5vh 0.7vh 1.5vh;
  
}

.pop-body {
  margin : 1vh 0.4vh;
}

.pop-footer {
  background: #5cb85c;
  color: white;
  padding: 0.1vh 1vh;
  padding-top: 0.3vh;
}

/* The Close Button */
.pop-close {
  color: #000;
  float: right;
  font-size: 2vh;
  font-weight: bold;
  padding: 0.7vh 0.2vh;
  text-align: center;
  width: 10%;
  top:0;
  right: 0;
  cursor: pointer;
}

.pop-close:hover,
.pop-close:focus {
  color: #fff;
  background-color: brown;
  text-decoration: none;
  cursor: pointer;
}

