/** template start**/
body {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}


#header
{
    top: 0px;
    height: 10vh; 
    width: 100%;
    position: fixed;
    
}
#footer
{
    bottom: 0vh;
    height: 7vh;
    position: fixed;
    width: 100%;
    
}

#contentLeft
{
  left: 0px;
  width: 53vh;
  position: absolute;
  padding-left: 1vh;
}

#contentCenter
{
    left: 54vh;
    width: 53vh;
    position: absolute;
    padding: 0vh 1vh;
    margin-left: 0.8vh;
    border: 1px solid;
}

#contentRight
{
  
  right: 1vh;
  left: 110vh;
  position: absolute;
  padding-left: 1vh;
  border: 1px solid;
}

.content
{
  top:10vh;
  bottom:8vh;
}

/** table like excel start**/
table {  
  color: #333; /* Lighten up font color */
  font-family: Helvetica, Arial, sans-serif; /* Nicer font */
  width: 100%; 
  border-collapse: 
  collapse; border-spacing: 0; 
  font-size: 2.5vh;
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {  
  background: #F3F3F3; /* Light grey background */
  font-weight: bold; /* Make sure they're bold */
}

td {  
  background: #FAFAFA; /* Lighter grey background */
  text-align: left;
  padding-left: 1vh;
}
/** table like excel end**/


video {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/** template end**/

#placeName
{
  border: solid 2px;
  margin: 1vh;
  padding: 0.5vh 2vh;
  font-size: 6vh;
  font-weight: bolder;
}

.titleContent
{
  font-size: 3vh;
  margin:10px;
  font-weight: bolder;
}

#contentRight
{
  text-align: center;
}

.footerText
{
  border-top: solid 2px;
  padding: 1vh;
  font-size: 4vh;
  margin:0vh;
  font-weight: bolder;
  height: 100%;
  
}

.loketContent{
  border: 1px solid;
  height: 100%;
  width: 100%;
  overflow: auto;
  
}

.loketContentComponent{
  margin:0.5vh 3vh;
  position: relative;
  font-size: 4vh;
  font-weight: bolder;
  padding: 1vh;
  display: block;
}

.loketContentComponentQueue
{
  border: 2px solid;
  font-size: 13vh;
  font-weight: bolder;
  padding-right: 1vh;
  text-align: right;
}

.iconLoketSpeaker
{
  width:3vh;
  cursor: pointer;
}