
/** table like excel start**/
.data-table{  
  color: #333; /* Lighten up font color */
  font-family: Helvetica, Arial, sans-serif; /* Nicer font */
  width: 100%; 
  border-spacing: 0; 
  font-size: 2.5vh;
  border-collapse: collapse;
  table-layout: fixed;
}

/* Make cells a bit taller */
.data-table td, .data-table th { 
  border: 1px solid #AAA; 
  height: 30px; 
} 

.data-table tr:nth-child(even) {
  background: #eee
}
.data-table tr:nth-child(odd) {
  background: #FFF
}

.data-table thead th{
  background: #CCC; /* Light grey background */
  font-weight : bold; /* Make sure they're bold */
  border: 1px solid #AAA; 
}


.data-table td {  
  text-align: left;
  padding-left: 1vh;
}
/** table like excel end**/

