/** template start**/
body {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}


#header
{
    top: 0px;
    height: 10vh; 
    width: 100%;
    position: fixed;
    
}
#footer
{
    bottom: 0vh;
    height: 7vh;
    position: fixed;
    width: 100%;
    
}

#contentLeft
{
  left: 0px;
  width: 53vh;
  position: absolute;
  padding-left: 1vh;
}

#contentCenter
{
    left: 54vh;
    width: 53vh;
    position: absolute;
    padding: 0vh 1vh;
    margin-left: 0.8vh;
    border: 1px solid;
}

#contentRight
{
  
  right: 1vh;
  left: 56vh;
  position: absolute;
  padding-left: 1vh;
  border: 1px solid;
}

.content
{
  top:10vh;
  bottom:8vh;
}


.btn {
  height: 100%;
  display: block;
  background: white;
  border: 2px solid #20df80;
  border-radius: 20px;
  padding: 5vh;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
  position: relative;
  cursor: pointer;
}

/** table like excel start**/
table {  
  color: #333; /* Lighten up font color */
  font-family: Helvetica, Arial, sans-serif; /* Nicer font */
  width: 100%; 
  border-collapse: 
  collapse; border-spacing: 0; 
  font-size: 2.5vh;
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {  
  background: #F3F3F3; /* Light grey background */
  font-weight: bold; /* Make sure they're bold */
}

td {  
  background: #FAFAFA; /* Lighter grey background */
  text-align: left;
  padding-left: 1vh;
}
/** table like excel end**/


video {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/** template end**/

#placeName
{
  border: solid 2px;
  margin: 1vh;
  padding: 0.5vh 2vh;
  font-size: 6vh;
  font-weight: bolder;
  text-align: center;
}

.titleContent
{
  font-size: 3vh;
  margin:10px;
  font-weight: bolder;
}

#contentRight
{
  text-align: center;
}

.footerText
{
  border-top: solid 2px;
  padding: 1vh;
  font-size: 4vh;
  margin:0vh;
  font-weight: bolder;
  height: 100%;
  
}

.loketContent{
  border: 1px solid;
  height: 100%;
  width: 100%;
  overflow: auto;
  
}

.loketContentComponent{
  margin:0.5vh 3vh;
  position: relative;
  font-size: 4vh;
  font-weight: bolder;
  padding: 1vh;
  display: block;
}

.panggil
{
  font-size: 10vh;
  font-weight: bolder;
  text-align: center;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  border-radius: 4px;
}

.panggil:hover {
  background: #20df80;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
}

.kecil{
  font-size: 11vh;
}

.tidakDatang
{
  font-size: 2vh;
  font-weight: bolder;
  text-align: center;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  border-radius: 4px;
  cursor: pointer;
}

.tidakDatang:hover {
  background: #20df80;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
}

.iconLoketSpeaker
{
  width:9vh;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:not(:disabled) ~ label {
  cursor: pointer;
}
input[type="radio"]:disabled ~ label {
  color: #bcc2bf;
  border-color: #bcc2bf;
  box-shadow: none;
  cursor: not-allowed;
}

label {
  height: 100%;
  display: block;
  background: white;
  border: 2px solid #20df80;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
  position: relative;
}

input[type="radio"]:checked + label {
  background: #20df80;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
}
input[type="radio"]:checked + label::after {
  color: #3d3f43;
  font-family: FontAwesome;
  border: 2px solid #1dc973;
  content: "\f00c";
  font-size: 24px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.label-textx {
  margin-left: 8px;
  margin-right: 8px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 24px;
  width: 48px;
  border-radius: 15px;
  background: #d6d6d6;
  overflow: hidden;
}

.toggle-inner {
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 22px;
  width: 46px;
  border-radius: 15px;
  overflow: hidden;
}

.active-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background: #003dda;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.05s linear 0.17s;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: white;
  border-radius: 13px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state:checked ~ .active-bg {
   transform: translate3d(-50%, 0, 0);
}

.toggle-state:checked ~ .toggle-inner .indicator {
   transform: translate3d(25%, 0, 0);
}

.box {
  position: relative;
  display: inline-block;
}

.box select {
  background-color: #20df80;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  text-align-last:center;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

.noclick{
  pointer-events: none;
}